body {
    margin: 0;
    font-family: sans-serif;
}

body > header{
    padding: 16px;
    justify-content: space-between;
    background-color: dodgerblue;
    display: flex;
}

body > header > h1{
    padding-left: 16px;
    color: white;
}

body > header > nav > ul {
    margin: 0;
    height: 100%;
    align-items: center;
    list-style: none;
    display: flex;
}

body > header > nav > ul > li {
    padding: 10px;
}

body > header > nav > ul > li > a {
    padding-right: 8px;
    color: white;
}

body > main {
    margin: auto;
    width: 60%;
    /* display: flex; */
}

body > main > article > footer {
    margin: 16px 0;
}

body > footer {
    padding: 32px;
    background-color: dodgerblue;
    color: white;
}

#footer-container {
    display: flex; 
}
#footer-container > section {
    padding-right: 32px;
}

#footer-container > section > nav > ul {
    margin: 0;
    list-style: none;
}

#footer-container > section > nav > ul > li a {
    color: white;
}

#upper {
    display: flex;
}

#latest-container > section {
    display: flex;
}